<web-app >
      <servlet>
        <servlet-name>FrontServlet</servlet-name>
        <servlet-class>etu1899.framework.servlet.FrontServlet</servlet-class>

        <init-param>
            <param-name>sessionName</param-name>
            <param-value>admin</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

</web-app>
